*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: lato;
}

body {
   
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);






  

    
  }

/*Imagenes movibles*/

.contenedorr{
   
    background-color: rgb(255, 255, 255);
    color:rgb(43, 134, 100);
    font-size: 300%;
    
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 0%;
}

.fotos {
	width: 100%;
    height: 0%;
	margin:0% ;
	overflow: hidden;
    
}

.fotos ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: imagenes 20s infinite alternate ease-in-out; /*Efecto del movimiento*/
    margin:0%;
}


.fotos li {
	width: 100%;
    height:-300%;
	list-style: none;
    margin:0%;
    border:none;
}

.fotos img {
	width: 100%;
    
}
/*espacio de movimiento de una foto a otra */
@keyframes imagenes {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*Escritura*/

#escritura{
   
    margin: 0%;
    width: -10;  
   
}
h1{
    color:rgb(0, 0, 0);
    font-size: 155%; 

}
h2{
    color:rgb(255, 255, 255);
    font-size: 405%; 

}


/*tarjetas*/ 

.contenedor-tarjetas{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.tarjetas{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;     /*efecto del movimiento*/
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);/*lado del mocimiento de la carta*/
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fcc8b;
	border: 1px solid #2fcc90;
	border-radius: 4px;
	transition: all 400ms ease;/*Tiempo del movimiento*/
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #31b97a;
	color: #fff;
}

.piedepagina{
	
	background-color: #0a1b2a;
	width: 100%;
	height: 3%;
	bottom: 0;
	color:white;
	font-style: italic;

}

section  p{
	color:black;
	width: 450px;
    height: auto;
   

}


.boton{
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#FFD27D;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    }