
body{
    background-attachment: fixed;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}


img{
    width: 80%;;

}


h1{
    text-align: center;
    margin: 0 auto;
}
table{
    border-color:solid saddlebrown;
    width: 700px;
    border:0 px solid rgb(255, 255, 255);
    border-spacing: 0px ; 
    font-size: 35%;
    

}
.tabla tr th{
   background-color: rgb(19, 52, 112);
   color:rgb(255, 255, 255);
   border-color:white transparent;
   background-color: white transparent;
   border:white transparent;

}

h1{
    color: white;
    background-color: rgb(41, 117, 139);
}

#h{
    background-color: rgb(255, 255, 255);
    size: 30px;;
}
#h2{
    background-color:rgb(41, 117, 139);
    
}
.piedepagina{
	background-color:rgb(41, 117, 139);
	width: 100%;
	height: 3%;
	bottom: 0;
	color:white;
	font-style: italic;
}